<div class="container">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <h1 class="heading">Manage automobile service efficiently with AutoServ</h1>
    <span class="headline">
        <p>AutoServ is a user-friendly Automobile Service Management system 
            which provides efficient means to schedule, track, manage and renumerate for motor services.</p>
    </span>
    <div class="button-row">
        <button id="Schedule" mat-raised-button color="primary" routerLink="AppointmentForm">Schedule</button>
        <button id="Track" mat-raised-button routerLink="Track">Track</button>
    </div>
</div>

