<form [formGroup]="trackForm" class="form-container" (ngSubmit)="getTrack()">
    <mat-card>
        <h2>Service Tracking Number</h2>
        <mat-card-content>
            <div>
                <input id="TrackingID" class="trackInput" formControlName="TrackingID" matInput placeholder="TrackingID">
            </div>
            <br>
            <mat-card-actions>
                <button id="sertrack" class="submitButton" mat-raised-button color="primary">Track Your Service</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>