<div class="timeline">
    <div *ngFor="let item of value" class="timeline-event">
        <div class="timeline-point-track-container">
            <div class="timeline-point" [ngClass]="item?.status === 'R' ? 'heighlight' : '' "></div>
            <div class="timeline-track" [ngClass]="item?.status === 'R' ? 'heighlight' : '' "></div>
        </div>
        <div class="timeline-content">
            <span>
                {{item.content}}
            </span>
            <span class="timeline-date">
                {{item.date}}
            </span>
        </div>
    </div>
</div>
<div class="pickdrop">
    <button id="pickdrop" (click)="openDialog()" class="pickdrop" mat-raised-button color="primary">Request Pickup/Dropoff</button>
</div>


