.timeline {
    margin-top: 120px;
    margin-left: 250px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 1rem;
}

.timeline-event {
    display: flex;
    position: relative;
    min-height: 70px;
}

.timeline-event:last-child {
    min-height: 0;
}

.timeline-content {
    flex: 1;
    padding: 0 1rem;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.timeline-point-track-container {
    flex: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.timeline-point {
    display: flex;
    align-self: baseline;
    border: 2px solid #1A237E;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.timeline-track {
    flex-grow: 1;
    width: 2px;
}

.timeline-date {
    font-size: 14px;
    font-style: italic;
    padding-left: 5px;
}

.heighlight {
    background-color: #1A237E;
    box-shadow: 0 4px 8px #8db8e4;
}

.pickdrop {
    font-size: 18px;
    padding: 1rem;
    margin-left: 8rem;
    margin-top: 1rem;
}
