<div class="about-section">
    <img src="assets/images/servicePic.png" height="300px" width="700px">
  </div>
  
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Interim</h2>
          <p class="title">Tagline</p>
          <p>description</p>
          <p><button class="button">See More</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Full</h2>
          <p class="title">Tagline</p>
          <p>Description</p>
          <p><button class="button">See more</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Major</h2>
          <p class="title">tagline</p>
          <p>Description</p>
          <p><button class="button">See more</button></p>
        </div>
      </div>
    </div>
  </div> 
