<div class="about-section">
<!-- <video class = "library" poster="front-end\src\assets\images\poster.jpg" autoplay="autoplay" loop="loop" controls="controls" width="720" height="360">
    <source src="front-end\src\assets\videos\carVideo.mp4" type="video/mp4"></video>
  -->
  <img src="assets/images/poster.jpg" height="350px" width="800px">
</div>

<div class="service-container">
  
  <h1 style="text-align: center; font-weight: bold;">Services Offered</h1>

  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Interim</h2>
          <p class ="title">Includes maintenance services with around 50 detailed checks</p>
          <ul>
            <li>Oil change</li>
            <li>Oil filter replacement</li>
            <li>Check steering, brakes, clutch, tyres, hoses and pipes.</li>
            <li>Check levels of fluids(brake, antifreeze coolant)</li>
            <li>Screen wash</li>
            <li>Check condition of engine (such as plug and filter)</li>
          </ul>
          <p class ="card-text">Detailed reports of each check and recommendation for further care</p>
          <p><button mat-raised-button color="primary" routerLink="/AppointmentForm">Book Now!</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Full</h2>
          <p class="title">Includes all basic interim service checks with added comprehensive component checks.</p>
          <ul>
            <li>Suspension/steering check</li>
            <li>Exterior lights operation</li>
            <li>Check Underbonnet (report leaks)</li>
            <li>Check Radiator condition/leaks</li>
            <li>Pollen filter condition</li>
          </ul>
          <br><br>
          <p class ="card-text">Detailed reports of each check and recommendation for further care</p>
          <p><button mat-raised-button color="primary" routerLink="/AppointmentForm">Book Now!</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Major</h2>
          <p class="title">Includes all services (interim + full) and detailed check and replacements</p>
          <ul>
            <li>Visual check of DPF system (diesel models)</li>
            <li>Replace fiel filter</li>
            <li>Check and top up transfer box and differential oil.</li>
            <li>Replace spark plugs</li>
            <li>Grease streeing and suspension joints</li>
            <li>Check and report DPF fluid level</li>
            <li>Check and top up gearbox oil</li>
          </ul>
          
          <p class="card-text"> Personal assistance and recommendations about future care</p>
          <p><button mat-raised-button color="primary" routerLink="/AppointmentForm">Book Now!</button></p>
        </div>
      </div>
    </div>
  </div> 
</div>