<div class="about-section">
    <img src="assets/images/servicePic2.jpg" height="300px" width="700px">
  </div>
  
<h2 style="text-align: center;">Our Services</h2>

  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Interim</h2>
          <p class ="title">An interim service includes around 50 detailed checks</p>
          <ul>
            <li>oil change</li>
            <li>oil filter replacement</li>
            <li>check steering, brakes, clutch, tyres, hoses and pipes.</li>
            <li>check levels of fluids(brake, antifreeze coolant)</li>
            <li>screen wash</li>
            <li>check condition of engine (such as plug and filter)</li>
          </ul>
          <p class ="card-text"> Detailed reports of each check.</p>
          <p><button mat-raised-button color="primary">book Now!</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Full</h2>
          <p class="title">It includes all basic interim service checks plus 15-20 more.</p>
          <ul>
            <li>Suspension/steering check</li>
            <li>Exterior lights operation</li>
            <li>check Underbonnet (report leaks)</li>
            <li> check Radiator condition/leaks</li>
            <li>pollen filter condition</li>
          </ul>
          <p class ="card-text">Detailed reports of each check and recommendation for further care.</p>
          <p><button mat-raised-button color="primary">Book Now!</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Major</h2>
          <p class="title">It contains all services (interim + full) and detailed check and replacements. </p>
          <ul>
            <li>visual check of DPF system and Report(diesel models)</li>
            <li>replace fiel filter</li>
            <li>check and top up transfer box and differential oil.</li>
            <li>replace spark plugs</li>
            <li>Grease streeing and suspension joints</li>
            <li>check and report DPF fluid level</li>
            <li>check and top up gearbox oil</li>
          </ul>
          <p class="card-text"> Personal assistance and recommendations about future care</p>
          <p><button mat-raised-button color="primary">Book Now!</button></p>
        </div>
      </div>
    </div>
  </div> 
