<div class="container">
    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <input type="radio" name="radio-btn" id="radio5">
        <input type="radio" name="radio-btn" id="radio6">
        <input type="radio" name="radio-btn" id="radio7">
        <input type="radio" name="radio-btn" id="radio8">
        <div class="slide first">
            <img src="assets/gallery/1.jpeg" height="500px" width="700px">
        </div>
        <div class="slide">
            <img src="assets/gallery/2.jpeg" height="500px" width="700px">
        </div>
        <div class="slide">
            <img src="assets/gallery/3.jpeg" height="500px" width="700px">
        </div>
        <div class="slide">
            <img src="assets/gallery/4.jpeg" height="500px" width="700px">
        </div>
        <div class="slide">
            <img src="assets/gallery/5.jpeg" height="500px" width="700px">
        </div>
        <div class="slide">
            <img src="assets/gallery/6.jpeg" height="500px" width="700px">
        </div>
        <div class="slide">
            <img src="assets/gallery/7.jpeg" height="500px" width="700px">
        </div>
        <div class="slide">
            <img src="assets/gallery/8.jpeg" height="500px" width="700px">
        </div>
        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
            <div class="auto-btn5"></div>
            <div class="auto-btn6"></div>
            <div class="auto-btn7"></div>
            <div class="auto-btn8"></div>
        </div>
    </div>
    <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
        <label for="radio5" class="manual-btn"></label>
        <label for="radio6" class="manual-btn"></label>
        <label for="radio7" class="manual-btn"></label>
        <label for="radio8" class="manual-btn"></label>
    </div>
</div>
