<form [formGroup]="serviceForm" class="form-container" (ngSubmit)="submitForm()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Service Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <div *ngIf="alert" class="confirmation">
                    <strong>Success!</strong> You appointment has been booked successfully. <strong>Transaction ID: {{trackID | json}}</strong>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <input formControlName="firstName" matInput placeholder="First name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <input  formControlName="lastName" matInput placeholder="Last name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <input  formControlName="phoneNumber" matInput placeholder="Phone Number">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <input  formControlName="email" matInput placeholder="Email">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <input  formControlName="registrationNumber" matInput placeholder="Registration Number">
                    </mat-form-field>
                </div>
                <div>
                    <label>Service Type</label>
                    <mat-radio-group  formControlName="serviceType" class="margin-left">
                        <mat-radio-button value="interim"> Interim </mat-radio-button>
                        <mat-radio-button value="full"> Full</mat-radio-button>
                        <mat-radio-button value="major"> Major </mat-radio-button>
                    </mat-radio-group>
                    <a style="float: right; color: red;" routerLink="/Services" routerLinkActive="active"><i>Need Help?</i></a>
                </div>
                <br>
                <div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Service Appointment Date</mat-label>
                        <input  formControlName="appointmentDate" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Submit</button>
            <button (click)="onClear()" mat-raised-button color="primary">Clear</button>
        </mat-card-actions>
    </mat-card>
</form>
