.container {
    padding: 16px;
}
  
.full-width {
    width: 100%;
}

.margin-left mat-radio-button {
    margin-left: 1.5rem;
}


.form-container {
    margin: 100px;
}

.confirmation {
    padding: 10px;
    width: 50%;
    height: 1.5rem;
    border-radius: 5px;
    background-color: #32CD32;
    margin-bottom: 1rem;
}