<form [formGroup]="loginForm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field class="full-width">
                    <input id="Username" formControlName="userName" matInput placeholder="Enter Username">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input  id="password" formControlName="password" matInput placeholder="Enter Password" type="password">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="onSubmit()" id="submit" mat-raised-button color="primary">Submit</button>
            <a style="float: right; color: rgb(36, 9, 79);" routerLink="/Signup" routerLinkActive="active"id ="signup"><i>New user? Sign up Now!</i></a>
        </mat-card-actions>
    </mat-card>
</form>