<form class="form-container">
<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username or Email</mat-label>
      <input matInput placeholder="Enter username">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter password">
      </mat-form-field>
      <mat-card-actions>
        <button id="submit" mat-raised-button color="primary" >Submit</button>
        <button id="clear" mat-raised-button color="primary">Clear</button>
        <a style="float:initial; color: rgb(8, 0, 255);" routerLink="/signup" routerLinkActive="active" id ="signup"><i>New User? SignUp Now!</i></a>
    </mat-card-actions>
    </mat-card-content>
</mat-card>
</form>


