<mat-toolbar color="primary">
    <span style="padding-top: 6px;">
        <img src="assets/images/logo.jpeg" width="130" height="50">
    </span>

    <div class="spacer"></div>
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="Services">Services</a>
        <a mat-button routerLink="AppointmentForm">Schedule</a>    
        <a mat-button routerLink="Track">Track</a>
        <a mat-button routerLink="Contact-Us">Contact Us</a>
        <a mat-raised-button routerLink="Login">Login</a>   
        
</mat-toolbar>